.v-app-bar {
    min-height: 20vh;
}

.v-btn .header-img {
    width: 25px;
};

.header-logo {
    margin-top: 16vh;
}

.header-layout {
    position: relative;
}

.main-container {
    position: absolute;
    top: 21.5vh;
}

.header-link {
    color: black;
}

.main-page-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    
}
