.v-app-bar {
    min-height: 20vh;
}

.header-img {
    width: 25px;
};

.header-logo {
    margin-top: 16vh;
}

.header-layout {
    position: relative;
}

.main-container {
    position: absolute;
    top: 26.5vh;
}
