// todo layout's style
.header-layout {
    position: relative;

    .v-app-bar {
        min-height: 20vh;
    }

    .v-btn .header-img {
        width: 25px;
    }

    .header-link {
        color: black;
    }

    .v-footer{
        width: 100vw;
        padding: 0;
    }
}


// todo main page style
.main-container {
    margin-top: 20vh;
}

.main-page-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin-top: 100px;
}
