// layout
.sign-layout{
    height: 100vh;
    width: 100vw;
    position: relative;

    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('~/assets/images/bg-sky.jpg');
        background-size: cover;
        opacity: 0.5;
        z-index: 0;
    }
}

// login page & sign up page
.sign-container{
    position: absolute;
    right: 5%;
    z-index: 1;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 850px){
        width: 90%;
    }
}

.v-btn{
    margin-right: 1.5rem;
    img{
        width: 3rem;
    }
}

.sign-lang-select{
    color: #2196f3;
    padding: 0.2rem;
    text-align: center;

    &:focus{
        outline: transparent solid 1px;
    }
}